version: '3.8'

services:
  mongodb:
    image: mongo:8.0.17
    container_name: mongodb
    restart: "no"
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: anla
      MONGO_INITDB_ROOT_PASSWORD: "070078"
      MONGO_INITDB_DATABASE: cqrs_query
    volumes:
      - mongodb_data:/data/db
      - mongodb_config:/data/configdb
    networks:
      - mongodb-network
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 40s

volumes:
  mongodb_data:
    driver: local
  mongodb_config:
    driver: local

networks:
  mongodb-network:
    driver: bridge
